
body {
    max-width: 1000px;
    border-top: 3px solid #2E2E2E;
    margin: 0 auto;
    font-family: sans-serif;
}
header img {
    float: left;
    display: inline;
    width: 350px;
}
nav a {
    float: right;
    margin-top: 0;
    margin-left: 5px;
    padding: 5px;
}
nav a {
    display: inline;
    font-family: sans-serif;
    padding: 5px;
    font-size: 16px;
}
nav a:hover {
    background-color: #43A738;
    color: white;
}
nav a, #impressum {
    text-decoration: none;
    color: #2E2E2E;
}
nav {
    margin-top: 0;
}

.page_title, .message {
    clear: both;
	padding-top: .5em;
}
footer p {
	padding-left: .5em;
}
footer {
    margin: auto;
}
.impressum {
    float: right;
}
main {
    clear: both;
    margin: auto 20px;
    /* border-top: 1px solid black; */
}
#award_title {
    font-family: sans-serif;
    font-weight: bold;
    padding: 3px 0;
}

h1 > sup {
    font-size: .5em;
    color: #A32C28;
}

#images {
    border: 1px solid #6E6C6B;
}
.randimg {
    display: inline;
}
.randimg p {
    text-align: center;
    display: inline;
}
.randimg img {
    padding: 50px;
    max-height: 300px;
}

#column_grap, #graph {
    margin-top: 3em;
}


#column_graph {
    padding-top: 1em;
    }
#images table td {
    width: 310px;
    height: 200px;
    text-align: center;
    }

#table tr:nth-child(odd) {
    background-color: #f4f4f4;
    }

#images img {
    height: 200px;
    }
#table table {
    width: 100%;
    }
table a, footer a {
    text-decoration: none;
    color: #A32C29;
    }
table a:hover {
    color: #CE4A2E;
    }
table {
    /* border: 1px solid #5F5F5F; */
    border-collapse: collapse;
    }
table td {
    padding: 5px;
    }

.pagination a {
    color: black;
    }
/* Изображение награды и ее описание*/
.award {
    width: 100%;
    overflow: hidden;
}
.award img {
    margin-right: 15px;
    float: left;
}
.award p {
    padding: 0;
    margin: auto;
}

/* Пагинация */

#pagination li {
    list-style: none;
    display: inline;
    margin-right: 5px;
    padding: 3px 6px;
    background: #F3F3F3
}
#pagination ul {
    padding-left: 0;
}

/* Стили для svg-графики */
.xAxis {
    font-size: 10px;
}
.xBarAxis path, .xBarAxis line, .yBarAxis path, .yBarAxis line{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    }

.xBarAxis text, .yBarAxis text {
    font-family: sans-serif;
    font-size: 11px;
    }
.xAxis path, .xAxis line, .yAxis path, .yAxis line{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    }

.xAxis text, .yAxis text {
    font-family: sans-serif;
    font-size: 11px;
    }
.pie_legend text {
    font-family: sans-serif;
    font-size: 12px;
    }
.rect text {
    font-size: 10px;
    }

footer .impressum {
    float: right;
}
.impressum {
    text-decoration: none;
    color: #2E2E2E;
}

.impressum:hover {
    background-color: #43A738;
    color: white;
}


.fio li {
    font-size: 18px;
}

.nagrady li {
    margin-top: .5em;
    font-size: 14px;
    list-style: none;
}

.nagrady {
    margin-bottom: 1em;
}

